.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 576px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1700px;
  }
}

.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

@font-face {
  font-family: MontRegular;
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: MontSemiBold;
  src: url("../fonts/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: Palatino;
  src: url("../fonts/Palatino Linotype.ttf");
}
@font-face {
  font-family: PalatinoLight;
  src: url("../fonts/PalatinoLightItalic.otf");
}
#header {
  background: url("../img/Flat-Mountains.svg") no-repeat center center;
  background-size: cover;
}
#header nav.container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: auto 30px;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  #header nav.container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "brand menu";
    align-items: center;
  }
}
#header nav.container .brand {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .brand {
    grid-area: brand;
    justify-self: end;
  }
}
#header nav.container .brand img {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
}
#header nav.container .brand .heading {
  display: inline-block;
  font-size: 1.8rem;
}
#header nav.container .navbar {
  padding-top: 45px;
  padding-bottom: 45px;
  width: 100%;
  top: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  background-color: #a589d5;
  transform: translateY(-1000px);
  transition: transform ease 0.3s;
  z-index: 25;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .navbar {
    position: initial;
    top: 0;
    background-color: transparent;
    grid-area: menu;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 75%;
    justify-self: end;
    padding-top: 0;
    padding-bottom: 0;
    position: initial;
    transform: translateY(0);
  }
}
@media only screen and (min-width: 1400px) {
  #header nav.container .navbar {
    width: 65%;
  }
}
#header nav.container .navbar li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
#header nav.container .navbar li:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .navbar li {
    width: 14.2857142857%;
    margin-bottom: 0px;
  }
  #header nav.container .navbar li:hover {
    transition: background-color 0.8s;
    background-color: #fa9bbb;
  }
}
#header nav.container .navbar li a {
  font-family: MontSemiBold;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color ease-in 0.2s;
}
#header nav.container .navbar li a:hover {
  color: #fa9bbb;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .navbar li a {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#header nav.container .active {
  transform: translateY(0px) !important;
}
#header nav.container .res_nav {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../img/menu.png") no-repeat center center;
  background-size: 30px 30px;
  transition: all 0.8s;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .res_nav {
    display: none;
  }
}

main#main div.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "feat_img", "texts";
}
main#main .img_container {
  grid-area: feat_img;
  display: none;
}
main#main .texts {
  grid-area: texts;
}
main#main .texts .heading {
  margin-top: 15px;
}
main#main .texts .para {
  margin-top: 35px;
}
main#main .texts .btn_container .btn {
  margin-right: 25px;
}
main#main .texts .btn_container .btn:last-child {
  margin-right: 0px;
  background-color: #613aa5;
}
main#main .texts .btn_container .btn:last-child:hover {
  background-color: #2a1947;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, img {
  display: inline-block;
}

header, section, footer {
  width: 100%;
}

.heading {
  font-family: MontSemiBold;
  font-size: 2.8rem;
}

.sec_heading {
  font-family: PalatinoLight;
  font-size: 2rem;
}

.para {
  font-family: MontRegular;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.4rem;
}

.heading, .sec_heading, .para {
  color: white;
  text-align: center;
}
.heading::first-letter, .sec_heading::first-letter, .para::first-letter {
  text-transform: capitalize;
}

.btn_container {
  text-align: center;
  margin-top: 45px;
}

.btn {
  font-family: MontSemiBold;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  padding: 18px 38px;
  background-color: #f42267;
  text-decoration: none;
  transition: background-color ease-in 0.5s, border 0.6s;
  border-radius: 50px;
}
.btn:hover {
  background-color: #77062b;
}

/*# sourceMappingURL=style.css.map */
