.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 576px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1700px;
  }
}

@font-face {
  font-family: MontRegular;
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: MontSemiBold;
  src: url("../fonts/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: Palatino;
  src: url("../fonts/Palatino Linotype.ttf");
}
@font-face {
  font-family: PalatinoLight;
  src: url("../fonts/PalatinoLightItalic.otf");
}
.container {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media only screen and (min-width: 1200px) {
  .container {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}

#header {
  background: url("../img/Flat-Mountains.svg") no-repeat center center;
  background-size: cover;
}
#header nav.container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: auto 30px;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  #header nav.container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "brand menu";
    align-items: center;
  }
}
#header nav.container .brand {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .brand {
    grid-area: brand;
    justify-self: end;
  }
}
#header nav.container .brand img {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
}
#header nav.container .brand .heading, #header #award_client nav.container .brand .options .heading2, #award_client #header nav.container .brand .options .heading2, #header #award_client nav.container .options .brand .heading2, #award_client #header nav.container .options .brand .heading2 {
  display: inline-block;
  font-size: 1.8rem;
}
#header nav.container .navbar {
  padding-top: 45px;
  padding-bottom: 45px;
  width: 100%;
  top: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  background-color: #a589d5;
  transform: translateY(-1000px);
  transition: transform ease 0.3s;
  z-index: 25;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .navbar {
    position: initial;
    top: 0;
    background-color: transparent;
    grid-area: menu;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 75%;
    justify-self: end;
    padding-top: 0;
    padding-bottom: 0;
    position: initial;
    transform: translateY(0);
  }
}
@media only screen and (min-width: 1400px) {
  #header nav.container .navbar {
    width: 65%;
  }
}
#header nav.container .navbar li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
#header nav.container .navbar li:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .navbar li {
    width: 14.2857142857%;
    margin-bottom: 0px;
  }
  #header nav.container .navbar li:hover {
    transition: background-color 0.8s;
    background-color: #fa9bbb;
  }
}
#header nav.container .navbar li a {
  font-family: MontSemiBold;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color ease-in 0.2s;
}
#header nav.container .navbar li a:hover {
  color: #fa9bbb;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .navbar li a {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#header nav.container .active {
  transform: translateY(0px) !important;
}
#header nav.container .res_nav {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../img/menu.png") no-repeat center center;
  background-size: 30px 30px;
  transition: all 0.8s;
}
@media only screen and (min-width: 1200px) {
  #header nav.container .res_nav {
    display: none;
  }
}

main#main div.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "feat_img", "texts";
}
@media only screen and (min-width: 992px) {
  main#main div.container {
    padding-bottom: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  main#main div.container {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
main#main .img_container {
  grid-area: feat_img;
  display: none;
}
main#main .texts {
  grid-area: texts;
}
@media only screen and (min-width: 1200px) {
  main#main .texts {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
main#main .texts .heading, main#main .texts #award_client .container .options .heading2, #award_client .container .options main#main .texts .heading2 {
  margin-top: 15px;
}
main#main .texts .para {
  margin-top: 35px;
}
@media only screen and (min-width: 1200px) {
  main#main .texts .para {
    margin-top: 70px;
  }
}
main#main .texts .para span {
  display: none;
}
@media only screen and (min-width: 1200px) {
  main#main .texts .para span {
    display: inline;
  }
}
main#main .texts .btn_container {
  margin-top: 110px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  main#main .texts .btn_container {
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
main#main .texts .btn_container .btn:last-child, main#main .texts .btn_container .border_btn:last-child, main#main .texts .btn_container .select_btn:last-child {
  margin-right: 0px;
  background-color: #613aa5;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  main#main .texts .btn_container .btn:last-child, main#main .texts .btn_container .border_btn:last-child, main#main .texts .btn_container .select_btn:last-child {
    margin-top: 0px;
  }
}
main#main .texts .btn_container .btn:last-child:hover, main#main .texts .btn_container .border_btn:last-child:hover, main#main .texts .btn_container .select_btn:last-child:hover {
  background-color: #2a1947;
}

#dream_big .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "image" "ideas";
  grid-row-gap: 100px;
}
@media only screen and (min-width: 1200px) {
  #dream_big .container {
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ideas image";
    grid-column-gap: 60px;
    align-items: center;
  }
}
#dream_big .container .ideas {
  grid-area: ideas;
}
#dream_big .container .ideas .sec_heading,
#dream_big .container .ideas .heading,
#dream_big #award_client .container .ideas .options .heading2,
#award_client #dream_big .container .ideas .options .heading2,
#dream_big #award_client .container .options .ideas .heading2,
#award_client #dream_big .container .options .ideas .heading2,
#dream_big .container .ideas li,
#dream_big .container .ideas .para {
  color: #484848;
}
@media only screen and (min-width: 1200px) {
  #dream_big .container .ideas .sec_heading,
#dream_big .container .ideas .heading,
#dream_big #award_client .container .ideas .options .heading2,
#award_client #dream_big .container .ideas .options .heading2,
#dream_big #award_client .container .options .ideas .heading2,
#award_client #dream_big .container .options .ideas .heading2,
#dream_big .container .ideas li,
#dream_big .container .ideas .para {
    text-align: left;
  }
}
#dream_big .container .ideas .heading, #dream_big #award_client .container .ideas .options .heading2, #award_client #dream_big .container .ideas .options .heading2, #dream_big #award_client .container .options .ideas .heading2, #award_client #dream_big .container .options .ideas .heading2 {
  margin-top: 25px;
}
@media only screen and (min-width: 1200px) {
  #dream_big .container .ideas .para {
    margin-top: 40px;
  }
}
#dream_big .container .ideas #platform_select {
  margin-top: 40px;
}
#select_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  #select_container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  #select_container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  #select_container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
#select_container li {
  list-style: none;
  margin-bottom: 15px;
  color: white !important;
  text-align: center;
}
#select_container li:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 576px) {
  #select_container li {
    flex-basis: 40%;
  }
}
@media only screen and (min-width: 992px) {
  #select_container li {
    flex-basis: initial;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #select_container li {
    flex-basis: 40%;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  #select_container li {
    flex-basis: initial;
    margin-bottom: 0px;
  }
}

#dream_big .container .ideas .btn_wrapper {
  margin-top: 70px;
  text-align: center;
}
@media only screen and (min-width: 1400px) {
  #dream_big .container .ideas .btn_wrapper {
    text-align: left;
  }
}
#dream_big .container .highlight_img {
  grid-area: image;
  width: 100%;
}
#dream_big .container .highlight_img img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  #dream_big .container .highlight_img img {
    max-width: 450px;
  }
}
@media only screen and (min-width: 1400px) {
  #dream_big .container .highlight_img img {
    max-width: 500px;
  }
}

#award_client {
  background-color: #4b2d7f;
}
#award_client .container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 992px) {
  #award_client .container {
    flex-direction: row;
  }
}
#award_client .container .options {
  cursor: pointer;
  flex-basis: 100%;
  background-color: #4b2d7f;
  transition: background-color 0.5s;
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 35px 15px;
}
#award_client .container .options:hover {
  background-color: #1f1234;
}
@media only screen and (min-width: 576px) {
  #award_client .container .options {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 992px) {
  #award_client .container .options {
    flex-basis: 30%;
    max-width: initial;
    padding: 70px 45px;
  }
}
#award_client .container .options img {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#award_client .container .options .heading, #award_client .container .options .heading2 {
  margin-top: 25px;
}
#award_client .container .options .heading2 {
  margin-top: 25px;
  font-size: 25px !important;
  font-weight: lighter;
}
#award_client .container .options .heading2 span {
  font-weight: bold;
  font-size: 30px;
}
#award_client .container .options .para {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#lets_grow {
  background: wheat url("../img/curbve_svg.svg") no-repeat center bottom;
  background-size: contain;
}
@media only screen and (min-width: 1200px) {
  #lets_grow {
    background-size: initial;
  }
}
#lets_grow .container .sec_heading, #lets_grow .container .heading, #lets_grow #award_client .container .options .heading2, #award_client #lets_grow .container .options .heading2, #lets_grow .container .para {
  color: #484848;
}
#lets_grow .container .heading, #lets_grow #award_client .container .options .heading2, #award_client #lets_grow .container .options .heading2 {
  margin-top: 25px;
}
#lets_grow .container .para {
  margin-top: 40px;
}
@media only screen and (min-width: 992px) {
  #lets_grow .container .para {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  #lets_grow .container .para {
    max-width: 1000px;
  }
}
#lets_grow .container .btn_wrapper {
  text-align: center;
  margin-top: 75px;
}
@media only screen and (min-width: 1200px) {
  #lets_grow .container .btn_wrapper {
    margin-top: 80px;
  }
}

#creative_agency .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "video" "texts";
}
@media only screen and (min-width: 1200px) {
  #creative_agency .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "texts video";
    grid-column-gap: 35px;
    align-items: center;
  }
}
#creative_agency .container .text {
  grid-area: texts;
  margin-top: 65px;
}
#creative_agency .container .text .sec_heading,
#creative_agency .container .text .heading,
#creative_agency #award_client .container .text .options .heading2,
#award_client #creative_agency .container .text .options .heading2,
#creative_agency #award_client .container .options .text .heading2,
#award_client #creative_agency .container .options .text .heading2,
#creative_agency .container .text .para {
  color: #484848;
}
#creative_agency .container .text #support {
  margin-top: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  #creative_agency .container .text #support {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  #creative_agency .container .text #support {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
#creative_agency .container .text #support .items {
  flex-basis: 100%;
}
#creative_agency .container .text #support .items:last-child {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  #creative_agency .container .text #support .items {
    flex-basis: 45%;
  }
  #creative_agency .container .text #support .items:last-child {
    margin-top: 0px;
  }
}
#creative_agency .container .text #support .items img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
#creative_agency .container .text #support .items h4 {
  font-size: 25px;
  margin-top: 25px;
}
#creative_agency .container .text #support .items .para {
  margin-top: 25px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}
#creative_agency .container .text #support .items .btn_wrapper {
  text-align: center;
  margin-top: 30px;
}
#creative_agency .container .videos {
  grid-area: video;
}
@media only screen and (min-width: 992px) {
  #creative_agency .container .videos {
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  #creative_agency .container .videos {
    text-align: right;
  }
}
#creative_agency .container .videos iframe {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  #creative_agency .container .videos iframe {
    width: initial;
    width: 560px;
  }
}
@media only screen and (min-width: 1200px) {
  #creative_agency .container .videos iframe {
    width: 500px;
  }
}

#recent_work {
  background-color: #f1f1f1;
}
#recent_work .container .para,
#recent_work .container .heading,
#recent_work #award_client .container .options .heading2,
#award_client #recent_work .container .options .heading2 {
  color: #484848;
}
#recent_work .container .heading, #recent_work #award_client .container .options .heading2, #award_client #recent_work .container .options .heading2 {
  text-transform: capitalize;
}
#recent_work .container #work_list #select_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 50px;
  flex-direction: column;
}
@media only screen and (min-width: 576px) {
  #recent_work .container #work_list #select_container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  #recent_work .container #work_list #select_container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
#recent_work .container #work_list #select_container li {
  list-style: none;
  display: inline-block;
}
@media only screen and (min-width: 1200px) {
  #recent_work .container #work_list #select_container li {
    flex-basis: initial;
  }
  #recent_work .container #work_list #select_container li:last-child {
    margin-bottom: 0px;
  }
}
#recent_work .container #work_list_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  margin-top: 100px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #recent_work .container #work_list_container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    max-width: 800px;
  }
}
@media only screen and (min-width: 992px) {
  #recent_work .container #work_list_container {
    max-width: 900px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #recent_work .container #work_list_container {
    margin-top: 65px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    max-width: initial;
    width: 100%;
  }
}
#recent_work .container #work_list_container .items {
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.4s;
  border: 1px solid wheat;
}
#recent_work .container #work_list_container .items:hover {
  box-shadow: -5px -5px 10px #484848, 5px 5px 10px #484848;
  border-color: transparent;
}
#recent_work .container #work_list_container .items img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 8px;
}
#recent_work .container .btn_wrapper {
  text-align: center;
  margin-top: 80px;
}
@media only screen and (min-width: 576px) {
  #recent_work .container .btn_wrapper {
    margin-top: 135px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img {
  display: inline-block;
}

header,
section,
footer {
  width: 100%;
}

.heading, #award_client .container .options .heading2 {
  font-family: MontSemiBold;
  font-size: 2.6rem;
}
@media only screen and (min-width: 1200px) {
  .heading, #award_client .container .options .heading2 {
    font-size: 2.9rem;
  }
}
@media only screen and (min-width: 1400px) {
  .heading, #award_client .container .options .heading2 {
    font-size: 3.5rem;
  }
}

.sec_heading {
  font-family: PalatinoLight;
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .sec_heading {
    font-size: 2.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .sec_heading {
    font-size: 2.5rem;
  }
}

.para {
  font-family: MontRegular;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.4rem;
  margin-top: 30px;
}
@media only screen and (min-width: 1200px) {
  .para {
    font-size: 1.05rem;
    line-height: 1.6rem;
  }
}
@media only screen and (min-width: 1900px) {
  .para {
    font-size: 1.1rem;
  }
}

.heading, #award_client .container .options .heading2,
.sec_heading,
.para {
  color: white;
  text-align: center;
}
.heading::first-letter, #award_client .container .options .heading2::first-letter,
.sec_heading::first-letter,
.para::first-letter {
  text-transform: capitalize;
}

.btn_container {
  text-align: center;
  margin-top: 45px;
}

.btn, .border_btn, .select_btn {
  font-family: MontSemiBold;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  background-color: #f42267;
  text-decoration: none;
  transition: background-color ease-in 0.5s, border 0.6s;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}
.btn:hover, .border_btn:hover, .select_btn:hover {
  background-color: #77062b;
}
@media only screen and (min-width: 1200px) {
  .btn, .border_btn, .select_btn {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1900px) {
  .btn, .border_btn, .select_btn {
    font-size: 1.1rem;
  }
}

.select_btn {
  width: initial;
  cursor: pointer;
  font-size: 0.9rem;
}
@media only screen and (min-width: 1200px) {
  .select_btn {
    font-size: 1rem;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.border_btn {
  border-bottom: 8px solid #f983aa;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
