#footer {
    background-color: darken(wheat, 20);
    @include padX(45px, 45px);
    .heading {
        font-size: 1.2rem !important;
        a {
            color: $red;
            cursor: pointer;
            text-decoration: none;
            transition: text-decoration ease-in-out 0.5s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
