@function pxCon($size) {
    @return $size + px;
}

// padding
@mixin padX($val) {
    padding-top: $val;
    padding-bottom: $val;
    @content;
}
// ----------------------------------------------
// responsive
// ----------------------------------------------
// break points

$x_sm: "576px";
$sm: "768px";
$md: "992px";
$lg: "1200px";
$xl: "1400px";
$xxl: "1900px";

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

// container
%container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    //extra small
    @include resp($x_sm) {
        padding-left: 30px;
        padding-right: 30px;
    }
    // small
    @include resp($sm) {
        padding-left: 40px;
        padding-right: 40px;
    }
    // medium
    @include resp($md) {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        @include center;
    }
    //extra  large
    @include resp($xl) {
        width: 85%;
    }
    // extra extra large
    @include resp($xxl) {
        max-width: 1700px;
    }
}

.container {
    @extend %container;
    @include padX(120px);
}

// fonts
$fonts: (
    MontRegular: "../fonts/Montserrat-Regular.otf",
    MontSemiBold: "../fonts/Montserrat-SemiBold.otf",
    Palatino: "../fonts/Palatino Linotype.ttf",
    PalatinoLight: '../fonts/PalatinoLightItalic.otf'
);


@each $name, $address in $fonts {
    @font-face {
        font-family: $name;
        src: url($address);
    }
}




// color variable 
$red: #f42267;
$violet: #4b2d7f;

// font varibale 
$header: MontSemiBold;
$para: MontRegular;
$small_header: Palatino;
$small_header_light: PalatinoLight;

// padding 

@mixin padX($t, $b) {
    padding-top: $t;
    padding-bottom: $b;
}

@mixin padY($l, $r) {
    padding-left: $t;
    padding-right: $b;
}

// margin 
@mixin marX ($t, $b) {
    margin-top: $t;
    margin-bottom: $b;
}

@mixin marY ($l, $r) {
    margin-left: $l;
    margin-right: $r;
}

// flex 
@mixin flex () {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @content;
}



