// import files 
@import 'varMixing';
@import 'header';
@import 'main';

// reset css 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// common style 
// heading 

a, img {
    display: inline-block;
}

header, section , footer {
    width: 100%;
}




.heading {
    font-family: $header;
    font-size: 2.8rem;
    @include resp ($sm) {
        font-size: 3.2rem;
    }
    @include resp ($md) {
        font-size: 3.6rem;
    }
    @include resp ($lg) {
        font-size: 3.9rem;
    }
    @include resp ($xl) {
        font-size: 4.5rem;
    }
}

.sec_heading {
    font-family: $small_header_light;
    font-size: 2rem;
    @include resp ($x_sm) {
        font-size: 2.2rem;
    }
    @include resp ($sm) {
        font-size: 2.5rem;
    }  
      @include resp ($md) {
        font-size: 2.8rem;
    }
    @include resp ($lg) {
        font-size: 3rem;
    }
    @include resp ($xl) {
        font-size: 3.3rem;
    }
}

.para {
    font-family: $para;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 1.4rem;
    @include resp ($lg) {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
}


.heading, .sec_heading , .para {
    color: white;
    text-align: center;
    &::first-letter {
        text-transform: capitalize;
    }
}

// btn style 
.btn_container {
    text-align: center;
    margin-top: 45px;
}

.btn {
    font-family: $header;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
    background-color: $red;
    text-decoration: none;
    transition: background-color ease-in 0.5s, border 0.6s;
    border-radius: 50px;
    width: 175px;
    @include padX(20px, 20px);
    text-align: center;
    // hover effect 
    &:hover {
        background-color: darken($color: $red, $amount: 30);
    }
}

